---
import {getGlobalPokemons} from '../services/pokemons'

const {results} = await getGlobalPokemons()
---
<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">

  <article>
     {results[0].name}
  </article>
</div>